/* Global Styles */

/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

/* 3. Add accessible line-height and improve text rendering */
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: "Roboto Mono", monospace;
}

/* 5. Improve media defaults */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/* 6. Remove built-in form typography styles */
input, button, textarea, select {
  font: inherit;
}

/* 7. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/* 8. Create a root stacking context */
#root, #__next {
  isolation: isolate;
}

/* Navigation */
.navigation {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 7vh;
  display: flex;
  justify-content: center;
  background-color: #f8f8f8;
  z-index: 1000;
  border-bottom: 2px solid gray;
}

.navigation ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 80px;
  padding: 0;
  margin: 0;
  list-style: none;
}

.navigation ul li {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 10px;
  transition: transform 0.5s ease; /* Smooth transition */
}

.navigation ul li a {
  text-decoration: none;
  color: #333;
  display: block; /* Ensure that the link occupies the full area of the list item */
  padding: 10px; /* Adjust padding to match the li padding */
  transition: color 0.5s ease; /* Smooth color transition */
}

.navigation ul li a:hover {
  transform: scale(1.2); /* Slight scale effect */
  font-weight: bold;
}


/* Main Banner */
.main-banner {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.main-banner video {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100vw;
  height: auto;
  transform: translate(-50%, -50%);
  min-height: 100%;
}

.banner-content {
  position: absolute;
  top: 85%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 2rem;
}

.banner-content a {
  text-decoration: none;
  color: black;
}

.banner-content p {
  margin: 20px 0;
  text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.5);
  font-family: "Bungee Tint", sans-serif;
  font-size: 2.5rem;
}

.banner-button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  background-color: white;
  border: none;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.banner-button:hover {
  transform: scale(1.2);
}

.banner-button:active {
  transform: scale(1);
}

/* Forms */
.forms {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* Centered Modal Form */
.collapsible-form {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 90%;
  background-color: white;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  display: none;
  overflow: hidden;
}

.collapsible-form.active {
  display: block;
}

.collapsible-form .form-container {
  max-height: 500px;
  overflow-y: auto;
}

/* Modal Overlay */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

/* Close Button */
.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 1.5rem;
  cursor: pointer;
}

/* Featured Categories Section */
.featured-categories {
  height: 100vh;
  background-color: #f8f8f8;
  text-align: center;
  padding: 50px;
  display: flex;
  flex-direction: column;
  gap: 75px;
}

.featured-categories .category-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.featured-categories .category-card,
.categories-main .category-card {
  display: block;
  position: relative;
  overflow: hidden;
  width: 300px; /* Fixed width for cards */
  height: 200px; /* Fixed height for cards to ensure consistency */
  text-align: center;
  text-decoration: none; /* Remove underline */
  color: #333; /* Text color */
  transition: background-color 0.3s ease, color 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
}

.featured-categories .category-card img,
.categories-main .category-card img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensure image covers the card */
  z-index: 1; /* Place image behind text */
}

.featured-categories .category-card h3,
.featured-categories .category-card p,
.categories-main .category-card h3 {
  position: relative; /* Ensure text is above the image */
  z-index: 2; /* Place text above image */
  color: #fff; /* Default text color */
  padding: 10px;
}

.featured-categories .category-card:hover,
.categories-main .category-card:hover {
  background-color: rgba(0, 123, 255, 0.7); /* Semi-transparent background on hover */
  color: #fff;
}

/* Featured Items Section */
.featured-items {
  height: 100vh;
  background-color: #fff;
  text-align: center;
  padding: 50px;
  display: flex;
  flex-direction: column;
  gap: 75px;
}

.featured-items .item-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.featured-items .item-card,
.items-main .item-card {
  display: block;
  position: relative;
  overflow: hidden;
  width: 300px; /* Fixed width for cards */
  height: 200px; /* Fixed height for cards */
  text-align: center;
  text-decoration: none; /* Remove underline */
  color: #333; /* Text color */
  transition: background-color 0.3s ease, color 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
}

.featured-items .item-card img,
.items-main .item-card img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensure image covers the card */
  z-index: 1; /* Place image behind text */
}

.featured-items .item-card h3,
.items-main .item-card h3 {
  position: relative; /* Ensure text is above the image */
  z-index: 2; /* Place text above image */
  color: #fff; /* Default text color */
  padding: 10px;
}

.featured-items .item-card:hover,
.items-main .item-card:hover {
  background-color: rgba(0, 123, 255, 0.7); /* Semi-transparent background on hover */
  color: #fff;
}

/* Actions Section Styling */
.actions {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 15px;
}

.actions a {
  display: inline-block;
  padding: 10px 15px;
  background-color: #28a745;
  color: #fff;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.actions a:hover {
  background-color: #218838;
}

/* Specific Styling for 'Back to Home' */
.actions a[href="/"] {
  background-color: #007bff;
}

.actions a[href="/"]:hover {
  background-color: #0056b3;
}

/* Categories Main Section */
.categories-main {
  height: 90vh;
  text-align: center;
  padding: 100px;
  display: flex;
  flex-direction: column;
  gap: 75px;
}

.categories-main .category-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

/* Items Main Section */
.items-main {
  height: 90vh;
  text-align: center;
  padding: 100px;
  display: flex;
  flex-direction: column;
  gap: 75px;
}

.items-main .items-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}



/* New Category Styles */

.category-main{
  height: 90vh;
  text-align: center;
  padding: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 75px;
}

.new-category {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  width: 60%;
}

.new-category h1 {
  margin-top: 0;
  font-size: 24px;
  color: #333;
}

.new-category form {
  display: flex;
  flex-direction: column;
}

.new-category label {
  font-size: 16px;
  margin-bottom: 5px;
  color: #333;
}

.new-category input[type="text"],
.new-category textarea,
.new-category input[type="file"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.new-category button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.new-category button:hover {
  background-color: #0056b3;
}


/* New Item Styles */

.item-main {
  height: 90vh;
  text-align: center;
  padding: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 75px;
}

.new-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  width: 60%;
}

.new-item h1 {
  margin-top: 0;
  font-size: 24px;
  color: #333;
}

.new-item form {
  display: flex;
  flex-direction: column;
}

.new-item label {
  font-size: 16px;
  margin-bottom: 5px;
  color: #333;
}

.new-item input[type="text"],
.new-item textarea,
.new-item input[type="number"],
.new-item select,
.new-item input[type="file"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.new-item button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.new-item button:hover {
  background-color: #0056b3;
}

/* Edit Category Styles */

.category-main {
  height: 90vh;
  text-align: center;
  padding: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 75px;
}

.edit-category {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  width: 60%;
  height: 100vh;
}

.edit-category h1 {
  margin-top: 0;
  font-size: 24px;
  color: #333;
}

.edit-category img{
  max-width: 250px; /* Set the maximum width */
  max-height: 150px; /* Set the maximum height */
  width: auto; /* Maintain aspect ratio */
  height: auto; /* Maintain aspect ratio */
  margin: 20px auto;
}

.edit-category form {
  display: flex;
  flex-direction: column;
}

.edit-category label {
  font-size: 16px;
  margin-bottom: 5px;
  color: #333;
}

.edit-category input[type="text"],
.edit-category textarea,
.edit-category input[type="file"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.edit-category button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.edit-category button:hover {
  background-color: #0056b3;
}

/* Edit Item Styles */

.item-main {
  height: 90vh;
  text-align: center;
  padding: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 75px;
}

.edit-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  width: 60%;
  width: 100vh;
}

.edit-item h1 {
  margin-top: 0;
  font-size: 24px;
  color: #333;
}

.edit-item form {
  display: flex;
  flex-direction: column;
}

.edit-item label {
  font-size: 16px;
  margin-bottom: 5px;
  color: #333;
}

.edit-item input[type="text"],
.edit-item textarea,
.edit-item input[type="number"],
.edit-item select,
.edit-item input[type="file"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.edit-item button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.edit-item button:hover {
  background-color: #0056b3;
}

/* Photo Styling */
.edit-item img {
  max-width: 250px; /* Set the maximum width */
  max-height: 150px; /* Set the maximum height */
  width: auto; /* Maintain aspect ratio */
  height: auto; /* Maintain aspect ratio */
  margin: 20px auto;
}
