<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Categories</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>

     <!-- Navigation Section -->
     <div class="navigation">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/categories">Categories</a></li>
            <li><a href="/items">Items</a></li>
        </ul>
    </div>

    <div class="categories-main">

        <div class="category-list">
            <% categories.forEach(category => { %>
                <a href="/categories/<%= category.id %>" class="category-card">
                    <% if (category.photo_url) { %>
                        <img src="<%= category.photo_url %>" alt="<%= category.name %>">
                    <% } %>
                    <h3><%= category.name %></h3>
                </a>
            <% }); %>
        </div>
    </div>
    
        <div class="actions">
            <a href="/categories/new">Add New Category</a>
        </div>
    
</body>


<script src="/js/script.js"></script>
</html>
