<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Items</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>

    <!-- Navigation Section -->
    <div class="navigation">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/categories">Categories</a></li>
            <li><a href="/items">Items</a></li>
        </ul>
    </div>

    <div class="items-main">

        <div class="items-list">
            <% items.forEach(item => { %>
                <a href="/items/<%= item.id %>" class="item-card">
                    <% if (item.photo_url) { %>
                        <img src="<%= item.photo_url %>" alt="Item Photo">
                    <% } %>
                    <h3><%= item.name %></h3> <!-- Added item name -->
                </a>
            <% }); %>
        </div>

    </div>

    
    <div class="actions">
        <a href="/items/new">Add New Item</a>
        <a href="/">Back to Home</a>
    </div>
</body>

</html>
